<!DOCTYPE html SYSTEM "http://www.thymeleaf.org/dtd/xhtml1-strict-thymeleaf-spring4-4.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">

<header th:replace="~{cabecalho :: head('Listar pedidos')}"></header>

<body>
	<nav th:replace="~{menu :: nav}"></nav>
	<span th:text="${mensagem}"></span>
	<div class="container mt-3">
		<h3>Pedidos com rastreio ativo:</h3>
		<table id="tbpedido" class="table table-bordered table-sm">
			<thead>
				<tr>
					<th>Código pedido</th>
					<th>Data Compra</th>
					<th>chaveNF</th>
				</tr>
			</thead>
			<tbody>
				<tr th:each="pedido : ${listarPedidos}">
					<td th:text="${pedido.getCodigoProduto()}">Código pedido</td>
					<td th:text="${pedido.getDataCompra()}">Data Compra</td>
					<td th:text="${pedido.getValor()}">chaveNF</td>
					<td>
						<a th:href="@{/pedidos/{pedidoId}(pedidoId = ${pedido.id})}" class="btn btn-info">
							Detalhe</a>						
					</td>
				</tr>
			</tbody>
		</table>
	</div>
</body>

</html>