<!DOCTYPE html SYSTEM "http://www.thymeleaf.org/dtd/xhtml1-strict-thymeleaf-spring4-4.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org">

<header th:replace="~{cabecalho :: head('Sobre')}"></header>
<body>
	<nav th:replace="~{menu :: nav}"></nav>
	<div class="container mt-3">
		<section class="u-align-center u-clearfix u-section-1" id="sec-2ab1">
			<div class="u-clearfix u-sheet u-valign-middle u-sheet-1">
				<h1 class="u-text u-text-default u-text-1">StarIntersection</h1>
				<p class="u-text u-text-2">A Star Intersection tem como objetivo
					a criação de um Sistema de Navegação no qual a Scania
					disponibilizaria no período de um ano após a compra de um veículo
					da marca para o usuário, garantindo assim que um rastreador seria
					instalado e mantido no veículo, para segurança do mesmo e do
					investimento do cliente.</p>
			</div>
		</section>
	</div>
</body>
</html>